@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;

}

h1,
h2,
h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

p {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0px;
  font-size: 14px;
}

span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}





body {
    font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}


.cursor-pointer {
  cursor: pointer;
}

/* .form-control:focus {
  box-shadow: none;
  border: 1px solid #FFB171;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {

  border: 2-x solid #dc3545;
  box-shadow: none;
} */

.header {
  background: linear-gradient( 112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2% ) !important;
  height: 75px;
  padding: 10px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 999;

}

.Layout {
  padding-top: 75px;
}

.side-nav {
  width: 260px;
  background: linear-gradient( 112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2% );
  color: white;

}

.sidebarhead {
  margin-top: 50px;
}

.sidebarhead h3 {
  margin-left: 35px;
}

.page-container {
  width: calc(100% - 260px);
  padding: 2.75rem 2.25rem;
  height: 89vh;
  overflow-y: scroll;
  background: #f2edf3

}

.side-nav-togller{
  width: 70px;
  background: linear-gradient( 112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2% );
  color: white;
}
.page-container-full {
  width: 100%;
  padding: 2.75rem 2.25rem;
  height: 89vh;
  overflow-y: scroll;
  background: #f2edf3

}

.max-hight {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.max-hight img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}



/* siderbar */
.side-menu li a {
  cursor: pointer;
  padding: 10px 32px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.side-menu li ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease;
}

.submenu {
  max-height: 500px !important;

}


.downArrow {
  width: 12px;
  transform: rotate(0deg);
  transition: transform .5s ease;
}

.upArrow {
  transform: rotate(180deg);
}

.side-menu li a:hover,
.side-menu li a.active {
  color: #000;
  background-color: #fff;

}

.side-menu li ul a.actives {
  color: #3f0a87;
  border-left: 2px solid #fff;

}

.active {
  color: #3f0a87;
  border-left: 2px solid #ffff;
  padding-left: 30px !important;
}


.header {
  background: #fff;

}

.nav-toggler:hover{
  background-color: #fff;
  color: #000;
}


/* ------- header design custom ------- */

.stream-logo-section{
    width: 270px;
    height: 55px;
 }

 .stream-logo-section a img{
  width: calc(260px - 120px);
  max-width: 100%;
  height: 28px;
  margin: auto;
  vertical-align: middle;
 }

 .profile{
  width: 100%;
 }
 .navbar-toggler span{
  font-size: 1.5rem;
  color: gray;
 }
 .nav-logout i {
  font-size: 1.5rem;
  color: #fff;
 }

 .nav-links:before{
  content: "\F054";
  font-family: "Material Design Icons";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffff;
  font-size: 0.75rem;
}






/* ------- header design custom ------- */

/* sider-bar- profile -image */

.nav-avater{
  display: flex;
  align-items: center;
  padding: 20px 20px;

}
.nav-profile-image{
  width: 44px;
  height: 44px;
  display: flex;

}
.nav-avater span{
  margin-left: 16px;
}

.nav-profile-image img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit:cover;

}

/*..... login css   ...... */

.custom-radio-group {

  display: flex;

  align-items: center;

}




.custom-radio-group .radio-label {

  margin-right: 10px;

}




.custom-radio-group .radio-input {

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  margin-top :1px;

  margin-left: 2px;

  width: 13px;

  height: 13px;

  border-radius: 50%;

  border: 1px solid #ccc;

  outline: none;

  transition: border-color 0.3s ease-in-out;

  position: relative;

  cursor: pointer;

}




.custom-radio-group .radio-input:checked {

  border-color: transparent;

}




.custom-radio-group .radio-input:checked::before {

  content: "";

  position: absolute;

  top: 0px;

  left: 0px;

  width: 12px;

  height: 12px;

  border-radius: 50%;

  background-color: #ffa500;

}




.custom-radio-group .radio-input:focus {

  border-color:transparent;

}




.userinput .form-control {

  box-shadow: none!important;

  outline: none!important;

}

.btn-transparent button{

box-shadow: none;

background-color:transparent ;

outline: none;

border: none;




}

.emailinput{

padding: 10px 10px;

}

.common-form-control{

height: 44px;

border-radius: 5px!important;

}

.form-control-custom {

background-color: transparent!important;

border: none!important;

padding: 0!important;

margin-top: 1.5rem;

}

/* .form-control-custom button {

width: 110px;

margin: 0 auto;

} */

.refresh_btn{

display: flex;

align-items: center;

}

.refresh_btn {

display: flex;

align-items: center;

border-radius: 5px;

background: orange;

font-size: 1.5rem;

font-family: "Lucida Handwriting";

text-decoration: line-through;

}

.refresh_btn input {

background-color: transparent!important;

border: none!important;

}

.ml0{

margin-left: 0!important;

}

.border0{

border-top-right-radius: 0!important;

border-bottom-right-radius: 0!important;

}

.radio-button{

font-size: large;

text-decoration-color: aliceblue;

}




/*..... login css  ...... */


/* custom  loader  */

.spin {

  display: block;

  position: relative;

  left: 56%;

  width: 149px;

  height: 140px;

  top: 128px;

  margin: 136px 0 0 -175px;

  border-radius: 50%;

  border: 3px solid transparent;

  -webkit-animation: spin 1s both infinite;

  animation: spin 1s both infinite;

}




/* middle */

.spin::before {

  content: "";

  position: absolute;

  top: 5px;

  left: 5px;

  right: 5px;

  bottom: 5px;

  border-radius: 50%;

  border: 3px solid transparent;




  -webkit-animation: spin 1s linear infinite;

  /* Chrome, Opera 15+, Safari 5+ */

  animation: spin 1s linear infinite;

  /* Chrome, Firefox 16+, IE 10+, Opera */

}




/* inner */

.spin::after {

  content: "";

  position: absolute;

  top: 30px;

  left: 15px;

  right: 15px;

  bottom: 51px;

  border-radius: 50%;

  border: 3px solid transparent;




  -webkit-animation: spin 1s linear infinite;

  /* Chrome, Opera 15+, Safari 5+ */

  animation: spin 1s linear infinite;

  /* Chrome, Firefox 16+, IE 10+, Opera */

}





@keyframes spin {

  0% {

    -webkit-transform: rotateX(0deg);

    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotateX(0deg);

    /* IE 9 */

    transform: rotateX(0deg);

    /* Firefox 16+, IE 10+, Opera */

  }




  100% {

    -webkit-transform: rotateY(360deg);

    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: rotateY(360deg);

    /* IE 9 */

    transform: rotateY(360deg);

    /* Firefox 16+, IE 10+, Opera */

  }

}




#overlayer {

  width: 100%;

  height: 100%;

  position: fixed;

  top: 10;

  left: 10;

  right: 10;

  bottom: 10;

  z-index: 2;

  background: rgba(86, 79, 79, 0.692);

}

/* custom loader */
